
@font-face {
    font-family: 'GothamBlack', sans-serif;
    src: url('../fonts/GothamBlack.ttf');
    font-weight: 400;
}
$main-font: 'Inconsolata', monospace;
$submain-font: 'Work Sans', sans-serif;